@import 'tailwindcss';

@theme {
  --color-primary-50: #f1fcf8;
  --color-primary-100: #d1f6eb;
  --color-primary-200: #a2edda;
  --color-primary-300: #6bddc3;
  --color-primary-400: #3dc4a9;
  --color-primary-500: #22a089;
  --color-primary-600: #1a8775;
  --color-primary-700: #196c60;
  --color-primary-800: #18574e;
  --color-primary-900: #194842;
  --color-primary-950: #082b27;
  --color-primary: #22a089;

  --color-dark: #121212;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

/* Glassmorphism */
.glass-card {
  background: rgba(34, 160, 137, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(34, 160, 137, 0.2);
  border-radius: 20px;
}
